@inject Model.Game Game;

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-start">Operations archive</h5>
        <CardDataRow Text="Missions launched" Value="@(() => Game.Archive.MissionsLaunched)" />
        <CardDataRow Text="Successful missions" Value="@(() => Game.Archive.SuccessfulMissions)" />
        <CardDataRow Text="Failed missions" Value="@(() => Game.Archive.FailedMissions)" />
        <CardDataRow Text="Total soldiers hired" Value="@(() => Game.Archive.TotalSoldiersHired)" />
        <CardDataRow Text="Soldiers lost" Value="@(() => Game.Archive.SoldiersLost)" />
    </div>
</div>
