@using UfoGame.Cards.Components
@inject Model.Game Game;

<Card Title="Assets">
    <CardDataRow Text="Money" Value="Game.Money.CurrentMoney"/>
    <CardDataRow Text="Soldiers" Value="Game.Staff.CurrentSoldiers"/>
    <CardDataRow Text="Soldier effectiveness" Value="Game.Staff.SoldierEffectiveness" />
    <CardDataRow Text="Soldier survivability" Value="Game.Staff.SoldierSurvivability" />
    <div class="row align-items-center">
        <CardButton OnClick="Game.HireSoldier"
                    Enabled="Game.Staff.CanHireSoldiers()">
            Hire @Game.Staff.SoldiersToHire soldiers for $@Game.Staff.SoldiersToHireCost
        </CardButton>
        <CardUpDownArrows OnClickUp="Game.Staff.IncrementSoldiersToHire"
                          OnClickDown="Game.Staff.DecrementSoldiersToHire"
                          EnabledUp="Game.Staff.CanHireSoldiers(Game.Staff.SoldiersToHire + 1)"
                          EnabledDown="Game.Staff.CanHireSoldiers(Game.Staff.SoldiersToHire - 1)" />
    </div>
    <CardInput @bind-Input="@Game.Staff.SoldiersToHire"
               MinValue="1"
               MaxValue="@Game.Staff.MaxSoldiersToHire"
               Value="@Game.Staff.SoldiersToHire"
               Enabled="@(Game.Staff.MaxSoldiersToHire >= 1)" />
</Card>