@using UfoGame.Cards.Components
@using UfoGame.Model
@using UfoGame.Model.Data
@inject ViewModel.LaunchMissionPlayerAction LaunchMission
@inject Staff Staff
@inject Archive Archive
@inject MissionPrep MissionPrep
@inject PendingMission PendingMission

<Card Title="Mission">
    <CardDataRow Label="Available in" 
                 Value="@PendingMission.Data.AvailableIn" 
                 Enabled="@(!PendingMission.CurrentlyAvailable)" />
    <CardDataRow Label="Expires in" 
                 Value="@PendingMission.Data.ExpiresIn"
                 Enabled="@PendingMission.CurrentlyAvailable"
                 ValueCssClass="@(PendingMission.MissionAboutToExpire ? "text-danger" : "")"/>
    <CardDataRow Label="Enemy faction"
                 Value="@PendingMission.Faction.Name"
                 Enabled="@PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Money reward"
                 Value="@("$"+PendingMission.MoneyReward)"
                 Enabled="@PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Enemy power"
                 Value="@PendingMission.EnemyPower"
                 Enabled="@PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Our power"
                 Value="@PendingMission.OurPower"
                 Enabled="@PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Mission success %"
                 Value="@(PendingMission.SuccessChance + "%")"
                 Enabled="@PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Baseline sol. surv. %"
                 Value="@(PendingMission.BaselineAgentSurvivalChance + "%")"
                 Enabled="@PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Transport capacity"
                 Value="@MissionPrep.Data.TransportCapacity"
                 Enabled="@PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Ready agents"
                 Value="Staff.Data.AgentsSendableOnMissionCount"
                 ValueCssClass="text-success" />
    <CardDataRow Label="Agents to send" 
                 Value="@Staff.Data.AgentsAssignedToMissionCount"
                 Enabled="@PendingMission.CurrentlyAvailable" />
    <CardButtonWithRangeInput PlayerAction="LaunchMission" />
    <div class="row">
        <div class="col">Last mission debriefing:</div>
    </div>
    <div class="row">
        <div class="col @GetLastMissionReportCssClass()">
            @Archive.LastMissionReport
        </div>
    </div>
</Card>

@code
{
    private string GetLastMissionReportCssClass()
    {
        var report = Archive.LastMissionReport;

        if (report == Archive.NoMissionsReport)
            return "";

        return report.Contains("successful") ? "text-success" : "text-danger";
    }
}