@using UfoGame.Cards.Components
@inject Model.Game Game;

<Card Title="Mission">
    <CardDataRow Text="Available in" 
                 Value="@(() => Game.PendingMission.AvailableIn)" 
                 Enabled="@_missionNotAvailable" />
    <CardDataRow Text="Expires in" 
                 Value="@(() => Game.PendingMission.ExpiresIn)"
                 Enabled="@_missionAvailable"/>
    <CardDataRow Text="Difficulty" 
                 Value="@(() => Game.PendingMission.Difficulty)"
                 Enabled="@_missionAvailable"/>
    <CardDataRow Text="Success chance" 
                 Value="@(() => Game.PendingMission.SuccessChance)"
                 Enabled="@_missionAvailable" />
    <CardDataRow Text="Soldiers to send" 
                 Value="@(() => Game.MissionPrep.SoldiersToSend)"
                 Enabled="@_missionAvailable" />
    <CardInput @bind-Input="SoldiersToSend"
               MaxValue="@(() => Game.Staff.CurrentSoldiers)"
               Enabled="@_missionAvailable" />
    <CardButton OnClick="Game.LaunchMission"
                Enabled="@(() => Game.CanLaunchMission())">
        Launch mission with @Game.MissionPrep.SoldiersToSend soldiers
    </CardButton>
    <div class="row">
        <div class="col">Last mission debriefing:</div>
    </div>
    <div class="row">
        <div class="col">@Game.Archive.LastMissionReport</div>
    </div>
</Card>

@code{

    // This follows the "Binding with component parameters" pattern
    // https://learn.microsoft.com/en-us/aspnet/core/blazor/components/data-binding?view=aspnetcore-7.0#binding-with-component-parameters
    private int SoldiersToSend
    {
        get => Game.MissionPrep.SoldiersToSend;
        set => Game.MissionPrep.SoldiersToSend = value;
    }

    private Func<bool> _missionAvailable;
    private Func<bool> _missionNotAvailable;

    public MissionCard()
    {
        _missionAvailable = () => Game.PendingMission.CurrentlyAvailable;
        _missionNotAvailable = () => !Game.PendingMission.CurrentlyAvailable;
    }
}