@using UfoGame.Cards.Components
@inject Model.Game Game;

<Card Title="Mission">
    <CardDataRow Text="Difficulty" Value="@(() => Game.PendingMission.Difficulty)" />
    <CardDataRow Text="Success chance" Value="@(() => Game.PendingMission.SuccessChance)" />
    <CardDataRow Text="Soldiers to send" Value="@(() => Game.MissionPrep.SoldiersToSend)" />
    <div class="row">
        <input class="col mx-3 my-1" type="range"
               min="0"
               max="@Game.Staff.CurrentSoldiers"
               step="1"
               @bind="Game.MissionPrep.SoldiersToSend" @bind:event="oninput"/>
    </div>
    <CardButton OnClick="Game.LaunchMission" 
                Disabled="@(() => !Game.CanLaunchMission())">
        Launch mission with @Game.MissionPrep.SoldiersToSend soldiers
    </CardButton>
    <div class="row">
        <div class="col">Last mission debriefing:</div>
    </div>
    <div class="row">
        <div class="col">@Game.Archive.LastMissionReport</div>
    </div>
</Card>