@using UfoGame.Cards.Components
@inject Model.Game Game;
@inject ViewModel.LaunchMissionPlayerAction LaunchMission;

<Card Title="Mission">
    <CardDataRow Text="Available in" 
                 Value="@Game.PendingMission.Data.AvailableIn" 
                 Enabled="@(!Game.PendingMission.CurrentlyAvailable)" />
    <CardDataRow Text="Expires in" 
                 Value="@Game.PendingMission.Data.ExpiresIn"
                 Enabled="@Game.PendingMission.CurrentlyAvailable"
                 ValueCssClass="@(Game.PendingMission.MissionAboutToExpire ? "text-danger" : "")"
                 />
    <CardDataRow Text="Enemy faction"
                 Value="@Game.PendingMission.Faction.Name"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Money reward"
                 Value="@("$"+Game.PendingMission.Data.MoneyReward)"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Enemy power"
                 Value="@Game.PendingMission.EnemyPower"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Our power"
                 Value="@Game.PendingMission.OurPower"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Mission success %"
                 Value="@(Game.PendingMission.SuccessChance + "%")"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Soldier survival %"
                 Value="@(Game.PendingMission.SoldierSurvivalChance + "%")"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Soldiers to send" 
                 Value="@Game.MissionPrep.Data.SoldiersToSend"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardButtonWithRangeInput PlayerAction="LaunchMission" />
    <div class="row">
        <div class="col">Last mission debriefing:</div>
    </div>
    <div class="row">
        <div class="col">@Game.OperationsArchive.LastMissionReport</div>
    </div>
</Card>