@using UfoGame.Cards.Components
@using UfoGame.Model
@using UfoGame.Model.Data
@inject Game Game
@inject ViewModel.LaunchMissionPlayerAction LaunchMission
@inject Staff Staff
@inject Archive Archive

<Card Title="Mission">
    <CardDataRow Label="Available in" 
                 Value="@Game.PendingMission.Data.AvailableIn" 
                 Enabled="@(!Game.PendingMission.CurrentlyAvailable)" />
    <CardDataRow Label="Expires in" 
                 Value="@Game.PendingMission.Data.ExpiresIn"
                 Enabled="@Game.PendingMission.CurrentlyAvailable"
                 ValueCssClass="@(Game.PendingMission.MissionAboutToExpire ? "text-danger" : "")"/>
    <CardDataRow Label="Enemy faction"
                 Value="@Game.PendingMission.Faction.Name"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Money reward"
                 Value="@("$"+Game.PendingMission.MoneyReward)"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Enemy power"
                 Value="@Game.PendingMission.EnemyPower"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Our power"
                 Value="@Game.PendingMission.OurPower"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Mission success %"
                 Value="@(Game.PendingMission.SuccessChance + "%")"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Baseline sol. surv. %"
                 Value="@(Game.PendingMission.BaselineAgentSurvivalChance + "%")"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Transport capacity"
                 Value="@Game.MissionPrep.Data.TransportCapacity"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Label="Ready agents"
                 Value="Staff.Data.AgentsSendableOnMissionCount"
                 ValueCssClass="text-success" />
    <CardDataRow Label="Agents to send" 
                 Value="@Staff.Data.AgentsAssignedToMissionCount"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardButtonWithRangeInput PlayerAction="LaunchMission" />
    <div class="row">
        <div class="col">Last mission debriefing:</div>
    </div>
    <div class="row">
        <div class="col @GetLastMissionReportCssClass()">
            @Archive.LastMissionReport
        </div>
    </div>
</Card>

@code
{
    private string GetLastMissionReportCssClass()
    {
        var report = Archive.LastMissionReport;

        if (report == Archive.NoMissionsReport)
            return "";

        return report.Contains("successful") ? "text-success" : "text-danger";
    }
}