@inject Model.Game Game;

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-start">Mission</h5>
        <CardDataRow Text="Difficulty" Value="@Game.PendingMission.Difficulty" />
        <CardDataRow Text="Success chance" Value="@Game.PendingMission.SuccessChance" />
        <CardDataRow Text="Soldiers to send" Value="@Game.MissionPrep.SoldiersToSend" />
        <div class="row">
            <input class="col mx-3 my-1" type="range"
                   min="0"
                   max="@Game.Staff.CurrentSoldiers"
                   step="1"
                   @bind="Game.MissionPrep.SoldiersToSend" @bind:event="oninput"/>
        </div>
        <div class="row">
            <button
                class="col btn btn-primary mx-3 my-1"
                @onclick="Game.LaunchMission"
                disabled="@(!Game.CanLaunchMission())">
                Launch mission with @Game.MissionPrep.SoldiersToSend soldiers
            </button>
        </div>
        <div class="row">
            <div class="col">Last mission debriefing:</div>
        </div>
        <div class="row">
            <div class="col">@Game.Archive.LastMissionReport</div>
        </div>
    </div>
</div>
