@using UfoGame.Cards.Components
@inject Model.Game Game;

<Card Title="Mission">
    <CardDataRow Text="Available in" 
                 Value="@Game.PendingMission.AvailableIn" 
                 Enabled="@(!Game.PendingMission.CurrentlyAvailable)" />
    <CardDataRow Text="Expires in" 
                 Value="@Game.PendingMission.ExpiresIn"
                 Enabled="@Game.PendingMission.CurrentlyAvailable"/>
    <CardDataRow Text="Enemy faction"
                 Value="@Game.PendingMission.Faction.Name"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Money reward"
                 Value="@("$"+Game.PendingMission.MoneyReward)"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Enemy power"
                 Value="@Game.PendingMission.EnemyPower"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Our power"
                 Value="@Game.PendingMission.OurPower"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Mission success %"
                 Value="@(Game.PendingMission.SuccessChance + "%")"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Soldier survival %"
                 Value="@(Game.PendingMission.SoldierSurvivalChance + "%")"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardDataRow Text="Soldiers to send" 
                 Value="@Game.MissionPrep.SoldiersToSend"
                 Enabled="@Game.PendingMission.CurrentlyAvailable" />
    <CardButtonWithRangeInput 
        ButtonOnClick = "Game.LaunchMission"
        UpOnClick     = "Game.MissionPrep.IncrementSoldiersToSend"
        DownOnClick   = "Game.MissionPrep.DecrementSoldiersToSend"
        @bind-Input=    "Game.MissionPrep.SoldiersToSend"
        ButtonEnabled = "Game.PendingMission.CanLaunchMission()"
        UpEnabled     = "Game.PendingMission.CanLaunchMission(Game.MissionPrep.SoldiersToSend + 1)"
        DownEnabled   = "Game.PendingMission.CanLaunchMission(Game.MissionPrep.SoldiersToSend - 1)"
        InputMaxValue = "Game.MissionPrep.MaxSoldiersToSend"
        InputMinValue = "Game.MissionPrep.MinSoldiersToSend"
    >
        Launch with @Game.MissionPrep.SoldiersToSend soldiers
    </CardButtonWithRangeInput>
    <div class="row">
        <div class="col">Last mission debriefing:</div>
    </div>
    <div class="row">
        <div class="col">@Game.Archive.LastMissionReport</div>
    </div>
</Card>