@using UfoGame.Cards.Components
@using UfoGame.Model
@using System.Diagnostics.CodeAnalysis
@using UfoGame.Model.Data
@inject Game Game
@inject Research Research

<Card Title="Actions">
    <CardDataRow Label="Current time" Value="Game.Timeline.Data.CurrentTime" />
    <div class="row">
        <CardButton Enabled="Game.CanRaiseMoney()"
                    OnClick="Game.RaiseMoney">
            Raise money: $@Game.Accounting.Data.MoneyRaisedPerActionAmount
        </CardButton>
        <CardButton Enabled="Research.CanResearchMoneyRaisingMethods()"
                    OnClick="Research.ResearchMoneyRaisingMethods">
            Research money raising methods for $@Research.Data.MoneyRaisingMethodsResearchCost
        </CardButton>
    </div>
    <div class="row">
        <CardButton Enabled="Research.CanResearchAgentEffectiveness()"
                    OnClick="Research.ResearchAgentEffectiveness">
            Research agent effectiveness for $@Research.Data.AgentEffectivenessResearchCost
        </CardButton>
        <CardButton Enabled="Research.CanResearchAgentSurvivability()"
                    OnClick="Research.ResearchAgentSurvivability">
            Research agent survivability for $@Research.Data.AgentSurvivabilityResearchCost
        </CardButton>
    </div>
    <div class="row">
        <CardButton Enabled="Research.CanResearchTransportCapacity()"
                    OnClick="Research.ResearchTransportCapacity">
            Increase transport capacity by @MissionPrepData.TransportCapacityImprovement for 
            $@Research.Data.TransportCapacityResearchCost
        </CardButton>
        <CardButton Enabled="Research.CanResearchAgentRecoverySpeed()"
                    OnClick="Research.ResearchAgentRecoverySpeed">
            Increase agent recovery speed by @StaffData.AgentRecoverySpeedImprovement for 
            $@Research.Data.AgentRecoverySpeedResearchCost
        </CardButton>
    </div>
    <div class="row">
        <CardButton Enabled="Game.CanDoNothing()"
                    OnClick="Game.DoNothing">
            Do nothing & advance time
        </CardButton>
    </div>
    <div class="row mt-2 @(WarningMessagePresent ? "visible" : "invisible") ">
        <div class="col @(Game.PlayerScore.PlayerWon ? "text-success": "text-danger")">
            @WarningMessage()
        </div>
    </div>
</Card>

@code
{
    private bool WarningMessagePresent => Game.PlayerScore.GameOver || Game.PendingMission.MissionAboutToExpire;

    private string WarningMessage()
    {
        if (Game.PlayerScore.GameOver)
            return "GAME OVER! " 
                   + (Game.PlayerScore.PlayerWon 
                       ? $"YOU WON! Score: {Game.PlayerScore.Data.Value}. Turn: {Game.Timeline.Data.CurrentTime}" 
                       : $"YOU LOST! Lasted until turn: {Game.Timeline.Data.CurrentTime}.");
        else if (Game.PendingMission.MissionAboutToExpire)
            return $"If you don't launch mission now, you will lose {PlayerScore.IgnoreMissionScoreLoss} score for ignoring pending mission!";
        else
            return "If you don't launch mission now, you will lose 1000 score for ignoring pending mission!";
    }

}
