@inject Model.Game Game;

<div class="top-row ps-2 navbar fixed-top bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        @* col-auto here ensures the column of the "NavigationMenu" button is pushed away to the right. See https://getbootstrap.com/docs/5.3/layout/columns/ *@
        <div class="col col-auto">
            <div class="row">
                <div class="col hstack gap-0 px-1" style="width: 100px">
                    <span class="oi oi-badge" aria-hidden="true"></span>
                    @Game.PlayerScore.Value
                </div>
                <div class="col hstack gap-0 px-1" style="width: 100px">
                    <span class="oi oi-dollar" aria-hidden="true"></span>
                    @Game.Money.CurrentMoney
                </div>
                <div class="col hstack gap-0 px-1" style="width: 60px">
                    <span class="oi oi-people" aria-hidden="true"></span>
                    @Game.Staff.CurrentSoldiers
                </div>
            </div>
            @* row-cols-auto here ensures the column in the row are left-stacked to their width. See https://getbootstrap.com/docs/5.3/layout/grid/#row-columns*@
            <div class="row row-cols-auto">
                <div class="col hstack gap-0 px-1" style="width: 83px">
                    <span class="oi oi-calendar" aria-hidden="true"></span>
                    @Game.Timeline.CurrentTime
                </div>
                <div class="col hstack gap-0 px-1" style="width: 100px">
                    <span class="oi oi-timer" aria-hidden="true"></span>
                    @Game.PendingMission.CountDown
                </div>
            </div>
        </div>
        @* See description of "col-auto" in comment above. *@
        <div class="col col-auto">
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hq" Match="NavLinkMatch.All">
                <span class="oi oi-globe" aria-hidden="true"></span>HQ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mission">
                <span class="oi oi-random" aria-hidden="true"/>Mission
            </NavLink>
        </div>
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="manufacturing"> *@
        @*         <span class="oi oi-spreadsheet" aria-hidden="true"></span>Manufacturing *@
        @*     </NavLink> *@
        @* </div> *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="research"> *@
        @*         <span class="oi oi-beaker" aria-hidden="true"></span>Research *@
        @*     </NavLink> *@
        @* </div> *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="archive"> *@
        @*         <span class="oi oi-book" aria-hidden="true"></span>Archive *@
        @*     </NavLink> *@
        @* </div> *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="charts"> *@
        @*         <span class="oi oi-bar-chart" aria-hidden="true"></span>Charts *@
        @*     </NavLink> *@
        @* </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Game.StateRefresh.Event += StateHasChanged;
    }
}
