@using UfoGame.Model
@using UfoGame.Model.Data
@using UfoGame.ViewModel
@inject MissionDeployment MissionDeployment
@inject MissionSite MissionSite
@inject MissionStats MissionStats
@inject Agents Agents
@inject ViewStateRefresh ViewStateRefresh

<div class="col">
    @* row-cols-auto here ensures the columns in the row are left-stacked to their width. See https://getbootstrap.com/docs/5.3/layout/grid/#row-columns *@
    <div class="row row-cols-auto">
        <div class="col px-0">
            <div class="hstack gap-0 p-0" style="width: 75px">
                <span>🏆</span><span>100%</span>
                @* <span>@(MissionStats.SuccessChance + "%")</span> *@
            </div>
        </div>
        <div class="col px-0">
            <div class="hstack gap-0 p-0" style="width: 75px">
                <span class="oi oi-pulse" style="width: 24px" aria-hidden="true"></span>
                <span>100%</span>
                @* <span>"@(MissionStats.BaselineAgentSurvivalChance + "%")"</span> *@
            </div>
        </div>
        <div class="col px-0">
            <div class="hstack gap-0 p-0" style="width: 95px">
                <span>9999</span><span>🤜</span>
                @* <span>"@MissionStats.OurPower"</span> *@
            </div>
        </div>
        <div class="col px-0">
            <div class="hstack gap-0 p-0" style="width: 95px">
                <span>🤛</span><span>999</span>
                @* <span>"@MissionStats.EnemyPower"</span> *@
            </div>
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col px-0">
            <div class="hstack gap-0 p-0" style="width: 145px">
                <span class="oi oi-people" style="width: 24px" aria-hidden="true"></span>
                <span>99/99 (999)</span>
                
                @* <span>@Agents.AgentsAssignedToMission.Count/</span> *@
                @* <span>@MissionDeployment.Data.TransportCapacity</span> *@
                @* &nbsp; *@
                @* <span>(@Agents.AgentsAssignableToMission.Count)</span> *@
                
                @* <span>@Accounting.CurrentMoney/</span> *@
                @* <span class="@(Accounting.MoneyPerTurnAmount >= 0 ? "text-success" : "text-danger")"> *@
                @*     @Accounting.MoneyPerTurnAmount *@
                @* </span> *@
            </div>
        </div>
    </div>
</div>
@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewStateRefresh.Event += StateHasChanged;
    }
}