@using UfoGame.Model
@using UfoGame.Model.Data
@using UfoGame.ViewModel
@inject TimelineData TimelineData
@inject Accounting Accounting
@inject Staff Staff
@inject Agents Agents
@inject PendingMission PendingMission
@inject ViewStateRefresh ViewStateRefresh
@inject PlayerScore PlayerScore

<div class="top-row ps-2 navbar fixed-top bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        @* col-auto here ensures the column of the "NavigationMenu" button is pushed away to the right. See https://getbootstrap.com/docs/5.3/layout/columns/ *@
        <div class="col col-auto">
            @* row-cols-auto here ensures the column in the row are left-stacked to their width. See https://getbootstrap.com/docs/5.3/layout/grid/#row-columns*@
            <div class="row row-cols-auto">
                <div class="col px-0">
                    <div class="hstack gap-0 p-0" style="width: 85px">
                        <span class="oi oi-badge" style="width: 19.5px; margin-left: 1px;" aria-hidden="true"></span>
                        @* <span>999999</span> *@
                        <span>@PlayerScore.Data.Value</span>
                    </div>
                </div>
                <div class="col px-0">
                    <div class="hstack gap-0 p-0" style="width: 70px">
                        <span class="oi oi-calendar" aria-hidden="true"></span>
                        @* <span>9999</span> *@
                        <span>@TimelineData.CurrentTime</span>
                    </div>
                </div>
                <div class="col px-0">
                    <div class="hstack gap-0 p-0" style="width: 50px">
                        <span class="oi oi-timer" style="width: 23px" aria-hidden="true"></span>
                        @* <span>-99</span> *@
                        <span class="@(PendingMission.MissionAboutToExpire ? "text-danger" : "")">
                            @PendingMission.Countdown
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col px-0 ps-1">
                    <div class="hstack gap-0 p-0" style="width: 135px">
                        <span class="oi oi-dollar" style="width: 17px" aria-hidden="true"></span>
                        @* <span>999999/-99999</span> *@
                        <span>@Accounting.CurrentMoney/</span>
                        <span class="@(Accounting.MoneyPerTurnAmount >= 0 ? "text-success" : "text-danger")">
                            @Accounting.MoneyPerTurnAmount
                        </span>
                    </div>
                </div>
                <div class="col px-0">
                    <div class="hstack gap-0 p-0" style="width: 105px">
                        <span class="oi oi-people" style="width: 24px" aria-hidden="true"></span>
                        @* <span>9999/9999</span> *@
                        <span class="text-success">@Agents.AgentsSendableOnMissionCount</span>
                        <span>/@Agents.AvailableAgents.Count</span>
                    </div>
                </div>
            </div>
        </div>
        @* See description of "col-auto" on its occurrence above. *@
        <div class="col col-auto">
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hq" Match="NavLinkMatch.All">
                <span class="oi oi-globe" aria-hidden="true"></span>HQ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mission">
                <span class="oi oi-random" aria-hidden="true"></span>Mission
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-wrench" aria-hidden="true"></span>Settings
            </NavLink>
        </div>
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="manufacturing"> *@
        @*         <span class="oi oi-spreadsheet" aria-hidden="true"></span>Manufacturing *@
        @*     </NavLink> *@
        @* </div> *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="research"> *@
        @*         <span class="oi oi-beaker" aria-hidden="true"></span>Research *@
        @*     </NavLink> *@
        @* </div> *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="archive"> *@
        @*         <span class="oi oi-book" aria-hidden="true"></span>Archive *@
        @*     </NavLink> *@
        @* </div> *@
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="charts"> *@
        @*         <span class="oi oi-bar-chart" aria-hidden="true"></span>Charts *@
        @*     </NavLink> *@
        @* </div> *@
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}

@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewStateRefresh.Event += StateHasChanged;
    }
}