@page "/game"
@page "/"
@inject Model.GameState GameState;

<PageTitle>UFO game</PageTitle>

<h1>UFO game</h1>

<p role="status">Current time: @GameState.Timeline.CurrentTime</p>

<p>
    <button class="btn btn-primary" @onclick="GameState.AdvanceTime">Advance time</button>
</p>

<p role="status">Current money: @GameState.Money.CurrentMoney</p>

<p role="status">Current soldiers: @GameState.Staff.CurrentSoldiers</p>

<p role="status">Soldiers lost: @GameState.Archive.SoldiersLost</p>

<p>
    <button
        class="btn btn-primary"
        @onclick="GameState.HireSoldier"
        disabled="@(!GameState.CanHireSoldier())">
        Hire soldier for $@GameState.Staff.SoldierPrice
    </button>
</p>

<p role="status">Missions launched: @GameState.Archive.MissionsLaunched</p>

<p role="status">Successful missions: @GameState.Archive.SuccessfulMissions</p>

<p role="status">Failed missions: @GameState.Archive.FailedMissions</p>

<p role="status">Mission difficulty: @GameState.PendingMission.Difficulty</p>

<p role="status">Mission success chance: TODO</p>

<p role="status">Soldiers to send: @GameState.MissionPrep.SoldiersToSend</p>

<p>
    <button
        class="btn btn-primary"
        @onclick="GameState.LaunchMission"
        disabled="@(!GameState.CanLaunchMission())">
        Launch mission with TODO soldiers
    </button>
</p>

<p>
    <form>
        <div>
            <label>Soldiers to send:</label>
            <input type="range"
                   min="0" 
                   max="@GameState.Staff.CurrentSoldiers" 
                   step="1" 
                   @bind="GameState.MissionPrep.SoldiersToSend" @bind:event="oninput"
            />
        </div>
    </form>
</p>

<p role="status">Mission result: TODO</p>