@page "/game"
@page "/hq"
@page "/"
@inject Model.Game Game;

<PageTitle>UFO game</PageTitle>

<h1>UFO game</h1>

<div class="container-fluid text-center px-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-start">Time control</h5>
            <div class="row">
                <div class="col-7 text-start">Current time</div>
                <div class="col-1 col-2">@Game.Timeline.CurrentTime</div>
            </div>
            <div class="row">
                <button class="col btn btn-primary mx-3 mt-2" @onclick="Game.AdvanceTime">Advance time</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-start">HQ</h5>
            <div class="row">
                <div class="col-7 text-start">Money</div>
                <div class="col-1 col-2">@Game.Money.CurrentMoney</div>
            </div>
            <div class="row">
                <div class="col-7 text-start">Soldiers</div>
                <div class="col-1 col-2">@Game.Staff.CurrentSoldiers</div>
            </div>
            <div class="row">
                <button
                    class="col btn btn-primary mx-3 mt-2"
                    @onclick="Game.HireSoldier"
                    disabled="@(!Game.CanHireSoldier())">
                    Hire soldier for $@Game.Staff.SoldierPrice
                </button>                
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-start">Mission</h5>
            <div class="row">
                <div class="col-7 text-start">Difficulty</div>
                <div class="col-1 col-2">@Game.PendingMission.Difficulty</div>
            </div>
            <div class="row">
                <div class="col-7 text-start">Success chance</div>
                <div class="col-1 col-2">@Game.PendingMission.SuccessChance</div>
            </div>
            <div class="row">
                <div class="col-7 text-start">Soldiers to send</div>
                <div class="col-1 col-2">@Game.MissionPrep.SoldiersToSend</div>
            </div>
            <div class="row">
                <input class="col mx-3 my-1" type="range"
                       min="0"
                       max="@Game.Staff.CurrentSoldiers"
                       step="1"
                       @bind="Game.MissionPrep.SoldiersToSend" @bind:event="oninput"/>
            </div>
            <div class="row">
                <button
                    class="col btn btn-primary mx-3 my-1"
                    @onclick="Game.LaunchMission"
                    disabled="@(!Game.CanLaunchMission())">
                    Launch mission with @Game.MissionPrep.SoldiersToSend soldiers
                </button>
            </div>
            <div class="row">
                <div class="col">Last mission debriefing:</div>
            </div>
            <div class="row">
                <div class="col">@Game.Archive.LastMissionReport</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-start">Operations archive</h5>
            <div class="row">
                <div class="col-7 text-start">Missions launched</div>
                <div class="col-1 col-2">@Game.Archive.MissionsLaunched</div>
            </div>
            <div class="row">
                <div class="col-7 text-start">Successful missions</div>
                <div class="col-1 col-2">@Game.Archive.SuccessfulMissions</div>
            </div>
            <div class="row">
                <div class="col-7 text-start">Failed missions</div>
                <div class="col-1 col-2">@Game.Archive.FailedMissions</div>
            </div>
            <div class="row">
                <div class="col-7 text-start">Soldiers lost</div>
                <div class="col-1 col-2">@Game.Archive.SoldiersLost</div>
            </div>
        </div>
    </div>

</div>